/* ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~* General *~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ */

* {
  font-family: "Genos", sans-serif;
}

:root {
  --dark: #131543;
  --light: #d1d3eb;
  --grey: #888892;
  --shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
  --shadow2: 2px 5px 3px rgba(0, 0, 0, 0.3),
    0px -4px 6px rgba(255, 255, 255, 0.3);
  --textShadow: 4px 5px 5px rgba(0, 0, 0, 0.801);
}
body {
  position: fixed;
  top: -7px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  /* background-color: #e58c8a; */
  background-image: url("./Assets/Images/background.png");
  background-size: cover;
}

.opacity {
  opacity: 1;
}
.noOpacity {
  opacity: 0;
}

.hide {
  display: none;
}
.show {
  display: block;
}

/* ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~* Video Intro *~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ */

#cherVideo {
  position: fixed;
  display: none;
  height: 75%;
  width: 62.1%;
  top: 12%;
  left: 19.7%;
  object-fit: cover;
  z-index: 99;
}

/* ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~* Computer Frame/ Outside setup *~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ */

.computerBox {
  display: absolute;
  overflow: hidden;
  height: 100%;
  width: 85%;
  display: flex;
  justify-content:center;
}

.background {
  position: absolute;
  left: 17.1%;
  height: 100%;
  aspect-ratio: 1.4/1.1;
  filter: brightness(150%) sepia(10%) saturate(60%) contrast(80%)
    hue-rotate(-15deg);
  z-index: -1;
}
.computer {
  position: relative;
  top: -5%;
  height: 110vh;
  /* width: 60%; */
  aspect-ratio: 1.4/1;
  z-index: 1;
}

#app{
  position: absolute;
  height: 75%;
  width: 62.1%;
  top: 12%;
  left: 18.7%;
  display: grid!important;
  grid-template-columns: 3fr 2.8fr 6.75fr 2.8fr 3fr;
  grid-template-rows: 0.4fr 1.7fr 0.25fr 0.4fr 1.7fr 0.25fr 0.4fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header header header"
    ". . upperPic . ."
    ". . upperPic . ."
    ". . upperBtns . ."
    ". . lowerPic . ."
    ". browseBtn lowerPic dressMeBtn ."
    ". browseBtn lowerBtns dressMeBtn ."
    "footer footer footer footer footer";
}



/* ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~* Headers/Footers *~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ */

header,
footer {
  text-shadow: var(--textShadow);
  background-image: linear-gradient(#131543 0%, #0a0c44 20%);
  display: flex;
  align-items: center;
  color: var(--light);
  left: 2%;
  overflow: hidden;
  z-index: 0;
}
header {
  display: flex;
  justify-content: space-between;
  grid-area: header;
  padding-left: 20px;
  font-size: 1rem;
}
footer {
  grid-area: footer; 
  font-size: 0.6rem;
  border-top: outset 4px #888892;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 5px 5px 50x var(--dark), 5px 5px 5px var(--dark);
}
footer h1 {
  margin-right: 10px;
  margin-left: 10px;
}
.footerBtn{
  font-size:1.3rem;
}
.headerBtn,
.footerBtn {
  background-color: var(--dark);
  border-top: outset var(--light) 1px;
  border-bottom: outset 3px #000000;
  text-shadow: var(--textShadow);
  height: 100%;
  color: var(--light);
}
header h1 {
  position: relative;
  right: 0;
  font-size:1.5rem;
}
.headerBtn {
  position: relative;
  width: 30%;
  font-size: 1.5rem;
  right: 0.8vw;
}

/* ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~* Main App *~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ */

.topPicture{grid-area: upperPic;}
.bottomPicture{grid-area: lowerPic;}

.bottomPicture,
.topPicture {
  background-color: #dcdeeefd;
  border: ridge 8px #888892;
  border-left: ridge 8px rgb(182, 178, 178);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#cherTop {
  height: 90%;
  filter: saturate(330%) contrast(130%) hue-rotate(360deg) brightness(110%)
    drop-shadow(6px 6px 5px black);
  transform: translateX(-120%);
  animation: translate 1s linear infinite;
}

@keyframes translate {
  0% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(120%);
  }
}

#cherSkirt {
  height: 90%;
  filter: saturate(320%) brightness(100%) contrast(140%) hue-rotate(180deg)
    drop-shadow(6px 6px 5px black);
  animation: translate 800ms linear infinite;
}

/* ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~* Buttons *~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ */

.backBtn,
.playBtn,
.forwardBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  text-shadow: var(--shadow);
}

#buttons1 { grid-area: upperBtns; }
#buttons2 { grid-area: lowerBtns; }

#buttons1,
#buttons2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0d0d22;
  padding-left: 5px;
  padding-right: 5px;
  border-right: outset 3px var(--grey);
  border-left: outset 3px var(--grey);
  z-index: 11;
}

.backBtn,
.forwardBtn {
  width: 34%; 
}
.playBtn {
  width: 26%; 
}

.backBtn,
.playBtn,
.forwardBtn {
  filter: blur(500%);
  position: relative;
  height: 90%;
  border-radius: 3px;
  border: outset 4px #888892;
  background: linear-gradient(
    rgb(182, 178, 178) 0%,
    #85848e 20%,
    #706f78 80%,
    rgb(66, 64, 64) 100%
  );
  font-size: 2rem;
}

.backBtn:hover,
.forwardBtn:hover,
.playBtn:hover {
  background-image: linear-gradient(
    #677ee4 0%,
    #333bd4 50%,
    #2e38cc 90%,
    var(--dark) 100%
  );
  border: var(--dark);
}

.browseBtn {grid-area: browseBtn;}
.dressMeBtn {grid-area: dressMeBtn; padding: 0 1.5vw;}

.browseBtn,
.dressMeBtn {
  width: 100%; 
  height: 120%;
  position: relative;
  bottom: 2vh;
  box-shadow: var(--textShadow);
  font-size: 2.5rem;
  line-height: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 18;
}

.dressMeBtn,
.browseBtn:hover {
  border: outset 4px #888892;
  background: linear-gradient(
    rgb(182, 178, 178) 0%,
    #85848e 20%,
    #706f78 80%,
    rgb(66, 64, 64) 100%
  );
  border: 6px outset #28282bce;
}
.browseBtn,
.dressMeBtn:hover {
  background-image: linear-gradient(
    #677ee4 0%,
    #333bd4 20%,
    #2e38cc 80%,
    var(--dark) 100%
  );
  border-image: linear-gradient(135deg, #677ee4, var(--dark)) 15;
  border: 6px outset #0a0c44ce;
}


/* ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~* Notifications *~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ */

#mismatch {
  position: fixed;
  top: 40%;
  background-color: #8998de;
  border: ridge 8px #050728ce;
  border-left: ridge 8px #19193c;
  box-shadow: rgb(39 39 39 / 89%) 10.95px 10.95px 10.6px;
  height: 13%;
  width: 46%;
  text-align: center;
  z-index: 12;
}

#mismatch h1 {
  position: absolute;
  width: 100%;
  z-index: 50;
  font-size: 8rem;
  top: -120%;
  color: #1b1f5f;
}

/* ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~* Load Cher Outfit *~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ */


.loadingCher {
  position: fixed;
  left:47.1%;
  z-index: 11;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.dresspic {
  border: ridge 8px #888892;
  border-left: ridge 8px rgb(182, 178, 178);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 17.5%;
  height: 63%;
  width: 19%;
  opacity: 0;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.dresspic.is-moved {
  animation-name: slideIn;
}

.dresspic.is-appeared {
  animation-name: fadeIn;
}

@keyframes slideIn {
  from {
    transform: translateY(-800%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dresspic:nth-child(1) {
  background-color: black;
  overflow: hidden;
  z-index: 12;
  background-image: url("/Assets/Images/scan.png");
}

.dresspic:nth-child(2) {
  z-index: 14;
  background-color: black;
  background-image: url("/Assets/Images/beginDress.png");
}

.dresspic:nth-child(3) {
  z-index: 15;
  border: ridge 8px #88889200;
  border-left: ridge 8px rgba(182, 178, 178, 0);
  background-image: url("/Assets/Images/stage1Dress.png");
}

.dresspic:nth-child(4) {
  z-index: 16;
  background-image: url("/Assets/Images/stage2Dress.png");
}
.dresspic:nth-child(5) {
  z-index: 17;
  background-color: black;
  background-image: url("/Assets/Images/finishDress.png");
  display: flex;
  justify-content: center;
  align-items: center;
}
#fullOutfit {
  z-index: 18;
  background-image: url("/Assets/Images/stageFullDress.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}






@media screen and (max-width: 767px) {
  .background {
    display:none;
  }
  body{
    background-image:none;
  }
  body::before{
    content:'';
    width: 100%;
    background-image: url('./Assets/Images/b1.jpeg');
    filter: brightness(150%) sepia(10%) saturate(60%) contrast(80%)
    hue-rotate(-15deg);
  }
  #cherVideo{
    position: fixed;
    z-index: 999;
    left: 14vw;
    width: 75vw;
  }
  #app{
    left: 12vw;
    width: 75.2vw;
  }
  #app{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 0.4fr 2fr 0.5fr 2fr 0.5fr 0.8fr 0.4fr;
      grid-auto-columns: 1fr 1fr;
      grid-auto-flow: row;
      grid-template-areas:
        "header header"
        "topPicture topPicture"
        "buttons1 buttons1"
        "bottomPicture bottomPicture"
        "buttons2 buttons2"
        "browseBtn dressMeBtn"
        "footer footer";
    }
    
    header { grid-area: header; }
    
    .topPicture { grid-area: topPicture; }
    
    .bottomPicture { grid-area: bottomPicture; }
    
    .dressMeBtn { grid-area: dressMeBtn; }
    
    footer { grid-area: footer; }
    
    .browseBtn { grid-area: browseBtn; }
    
    #buttons2 { grid-area: buttons2; }
    
    #buttons1 { grid-area: buttons1; }
    
  .computerBox {
    position: fixed;
    width: 100vw;
    left: 1vw;
  }
  .computer {
    width: 101%;
    height: 110%;
  }
  header, footer {
    height: 2rem;
  }
  header h1{
    display:none;
  }
  .headerBtn{
    left:30%;
  }
  .dresspic{
    top: 17.1%;
    height:55%;
    width: 72%;
    left: 13%;
  }
  .browseBtn{
    right: 1vw;
  }
  .dressMeBtn{
    left:-2.8vw;
  }
.browseBtn, .dressMeBtn {
  font-size:2rem;
  margin: 10%;
  height: 96%;
  width:93%;
}
.dressMeBtn{
  line-height:0.7;
}
#mismatch{
  width:65%;
  height: 10%;
}
#mismatch h1{
  font-size: 3rem;
  top:-30%;
}

}
 

@media screen and (min-width: 850px) and (max-width: 1280px) {
  #app{
    width: 66.2%;
    left: 16.8%;
  }
  #cherVideo{
    
    width: 66.2%;
    left: 17.2%;
  }

   .headerBtn{
    right: 0.5vw;
  }
  #mismatch h1{
    font-size: 7rem;
    top:-110%;
  }
}
@media screen and (min-width: 1281px) and (max-width: 1366px) {
  #app{
    width: 63.9%;
    left: 17.8%;
  }
  #cherVideo{
    width: 64%;
    left: 18.3%;
  }
  #mismatch h1{
    font-size: 7rem;
    top:-102%;
  }
}
@media screen and (min-width: 1367px) and (max-width: 1536px) {
  #app{
    width: 63.9%;
    left: 18%;
    grid-template-columns: 3fr 2.8fr 6.55fr 2.8fr 3fr;
  }
  #cherVideo{
    width: 62.3%;
    left: 19.2%;
  }
  header, footer{
    font-size:0.7rem;
  }
  header h1{
    font-size:1.7rem;
  }
   .headerBtn{
    font-size:2.2rem;
    width: 33%;
  }
  .footerBtn{
    font-size:2rem;
  }
  .dressMeBtn{
    line-height: 0.8;
  }
  .loadingCher {
    left: 47.3%;
  }
  .dresspic {
    width:20%;
  }
  #mismatch h1{
    top:-102%;
  }
}

@media screen and (width: 1920px) {
  #app{
    width: 63.9%;
    left: 18%;
    grid-template-columns: 3fr 2.8fr 6.55fr 2.8fr 3fr;
  }
  #cherVideo{
    height: 75%;
    width: 64.2%;
    top: 12%;
    left: 18%;
  }
  header, footer{
    font-size:0.9rem;
  }
  header h1{
    font-size:2rem;
  }
   .headerBtn{
    font-size:2.5rem;
  }
  .footerBtn{
    font-size:2rem;
  }
  .browseBtn,
  .dressMeBtn {
    height: 117%;
    bottom: 1.5vh;
  }
  .dressMeBtn{
    line-height: 0.9;
  }
  .loadingCher {
    left: 47.5%;
  }
  .dresspic {
    width:23%;
  }
  #mismatch h1{
    font-size: 10rem;
    top:-102%;
  }
}